<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.8.2" targetFramework="net45" />
  <package id="AWSSDK.Kinesis" version="3.3.1.4" targetFramework="net45" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Google.Protobuf" version="3.2.0" targetFramework="net45" />
  <package id="log4net" version="2.0.7" targetFramework="net45" />
</packages>